<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROYECTO_FINAL_NUEVO.Properties.Settings.AmazonConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Amazon.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MiCadenaDeConexion"
			 value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\LuisAMT\Documents\Bases de datos I\PROYECTO FINAL NUEVO\Amazon.mdf;Integrated Security=True;Connect Timeout=30"
			 />
	</appSettings>
</configuration>